* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #332f2c;
  color: white;
}

.heading {
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.num-holder {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}

button {
  gap: 1rem;
  width: calc(40vw / 3);
  height: 5vh;
  text-align: center;
  background-color: #4e5754;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
  border: 2px solid #6c7059;
  box-shadow: -4px -4px 8px #f39f18;
}

@media screen and (max-width: 480px) {
  button {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 20vw;
    height: 10vh;
  }

  .heading {
    font-size: 1rem;
  }

  .num-holder {
    font-size: 1.5rem;
  }
}
